@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(
    1,
    1fr
  ); // Mobile layout: 1 column for all cards

  grid-gap: space.$s6; // Space between cards

  /* Reset list styles */
  list-style: none; // Removes the bullet points
  padding: 0; // Removes any padding
  margin: 0; // Removes any margin

  /* Desktop layout (1024px and above) */
  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(2, 1fr); // 2 columns in the first row
    grid-template-rows: auto auto; // Two rows: 1st row = 2 items, 2nd row = 1 item
  }
}

.listItem {
  display: flex;
}

.loaderwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (min-width: breakpoint.$desktop) {
    margin-top: -300px;
  }
}

.loader {
  border: 8px solid #f9f5ff;
  border-top: 8px solid #7f56d9;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
