@use "@styles/color";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/z-index";
@use "@styles/misc";

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
