@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/shadow";

.checkboxWrapper {
  display: inline-flex;
  align-items: center;
}

.label {
  color: color.$gray-700;
}

.input {
  vertical-align: middle;
  border: space.$s0-m solid color.$gray-350;
  background-color: color.$white-000; /* White background when unchecked */
  appearance: none; /* Remove the default checkmark */
  cursor: pointer; /* Pointer to indicate it’s clickable */
}

.sm {
  gap: space.$s2;

  .label {
    font: font.$text-sm-medium;
  }

  .input {
    width: space.$s4;
    height: space.$s4;
    padding: space.$s0-l;
    border-radius: space.$s1;
  }
}

.md {
  gap: space.$s3;

  .label {
    font: font.$text-md-medium;
  }

  .input {
    width: space.$s5;
    height: space.$s5;
    padding: space.$s1-s;
    border-radius: space.$s1-l;
  }
}

.input:hover {
  border: space.$s0-m solid color.$primary-600; /* Keeps the purple border */
  background-color: color.$primary-50;
}

.input:focus {
  border: space.$s0-m solid color.$secondary-300;
  background-color: color.$white-000;
  box-shadow: shadow.$shadow-md;
}

.input:disabled {
  border: space.$s0-m solid color.$gray-300;
  background-color: color.$gray-100;
}

.input:disabled + .label {
  color: color.$gray-400; /* Change the label text color when input is disabled */
  cursor: not-allowed;
}

.input:checked {
  background-color: color.$primary-75;
  background-image: url("/icons/check.svg"); /* Your custom checkmark image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Adjust the size if needed */
  border: space.$s0-m solid color.$secondary-600; /* Keeps the purple border */
}

.input:indeterminate {
  background-color: color.$primary-75; /* Light purple background for indeterminate */
  background-image: url("/icons/minus.svg"); /* Add your purple slash image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Make sure the slash fits well */
  border: space.$s0-m solid color.$secondary-600; /* Keeps the purple border */
}

.input:checked:hover {
  background-color: color.$white-000; /* Change the background to white when hovered */
  border: space.$s0-m solid color.$secondary-300; /* changed the color to a ligher purple */
}

.input:checked:focus {
  // border: space.$s0-m solid color.$secondary-600;
  // background-color: color.$primary-75;
  box-shadow: shadow.$shadow-md;
}

.input:checked:disabled {
  border: space.$s0-m solid color.$gray-300;
  background-color: color.$gray-100;
  background-image: url("/icons/check_d.svg");
}

input:checked:disabled + .label {
  color: color.$gray-400; /* Change the label text color when input is disabled */
  cursor: not-allowed;
}

.input:indeterminate:hover {
  background-color: color.$white-000; /* Change the background to white when hovered */
  border: space.$s0-m solid color.$secondary-300; /* changed the color to a ligher purple */
}

.input:indeterminate:focus {
  box-shadow: shadow.$shadow-md;
}

.input:indeterminate:disabled {
  border: space.$s0-m solid color.$gray-300;
  background-color: color.$gray-100;
  background-image: url("/icons/minus_d.svg");
}

input:indeterminate:disabled + .label {
  color: color.$gray-400; /* Change the label text color when input is disabled */
  cursor: not-allowed;
}
